.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #fafbff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero {
  margin: auto;
  margin-bottom: 96px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px auto;
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 0;
  }

  .hero-title {
    max-width: 496px;
  }
}

.icon-about {
  display: none;
}

.about {
  padding-bottom: 96px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-item {
  width: 100%;
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .about-us {
    text-align: left;
  }

  .about-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .icon-about {
    display: flex;
  }

  .about-us {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-icon {
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .about-list {
    justify-content: space-between;
    gap: 24px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .about-text {
    font-weight: 400;
  }
}

.team-container {
  padding: 0 28px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team {
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}

.team-info {
  padding: 32px 0;
}

.team-our {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-card img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 0 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-list-item {
  display: inline-block;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.nav-icon:hover,
.nav-icon:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }
  .team-card {
    width: calc((100% - 72px) / 2);
  }

  .team-list {
    flex-direction: row;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team-container {
    padding: 0 15px;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    justify-content: space-between;
    gap: 24px;
  }

  .team-prof {
    margin: 0;
  }
}

.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #ffffff;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.over-text {
  position: absolute;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  line-height: 1.5;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .over-text {
  transform: translateY(0%);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .port-cont {
    padding: 0 16px;
  }
  .portfolio-item {
    width: calc((100% - 72px) / 2);
  }

  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-item {
    box-shadow: none;
  }
}

.page-footer {
  background: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 72px;
  column-gap: 72px;
}

.footer-contacts,
.footer-subscribe {
  text-align: center;
}

.footer-logo-container {
  max-width: 288px;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-decoration: none;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-contacts {
  width: 208px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-contacts-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-contacts-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-icon {
  fill: #f4f4fd;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  align-items: center;
  justify-content: center;
  width: 288px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  fill: #ffffff;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #404bbf;
}

.footer-btn {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background: #404bbf;
}

.footer-btn .icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

@media (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-logo-container {
    max-width: 264px;
    margin: 0;
    text-align: left;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-contacts {
    width: 208px;
    text-align: left;
  }

  .footer-subscribe {
    margin: 0;
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-input {
    width: 264px;
  }

  .footer-soc-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    width: 100%;
    height: 312px;
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-logo-container {
    max-width: 264px;
    margin-right: 120px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-contacts {
    margin-right: 80px;
  }

  .footer-subscribe {
    align-items: center;
    justify-content: center;
    width: 453px;
  }

  .footer-form {
    gap: 24px;
    flex-wrap: wrap;
    max-width: 453px;
  }

  .footer-input {
    box-shadow: none;
    opacity: 1;
    width: 264px;
  }
}
